NODE_ENV=development

# ── Connexion via pgBouncer (pooler) — pour les requêtes normales ──────────────
DATABASE_URL="postgresql://postgres.TON_PROJECT_REF:TON_MOT_DE_PASSE@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

# ── Connexion directe — pour les migrations Prisma uniquement ─────────────────
DIRECT_URL="postgresql://postgres.TON_PROJECT_REF:TON_MOT_DE_PASSE@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

JWT_SECRET="Laiterie_Nasoo_JWT_2025_Ouaga_BF"
JWT_EXPIRES_IN="7d"
PORT=5000
FRONTEND_URL="http://localhost:5173"
